.welcome-container {
  margin: 100px 50px 50px 50px;
}
.title {
  font-family: "Montserrat";
  font-size: 25px;
}

.second-line {
  font-family: "Cutive Mono";
  font-size: 50px;
}

.welcome-text {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 1.5;
}
.aboutImg {
  width: 400px;
  height: 350px;
  border-radius: 30%;
}
