.navbar {
  background-color: rgb(223, 105, 223);
   
  }
  
  .nav-item {
    padding: 0.5rem;
  
  }
  nav a{
      color: #fff;
  }
  a,
  .navbar-brand,
  .navbar-nav {
    color: #fff;
    font-weight: bold;
  }
  .navbar a:hover,
  .nav-item a:hover{
    color: rgb(191, 4, 191) ;
    text-decoration: none;
  }
  
  .navbar-nav:hover {
    color: grey;
    text-decoration: none;
  }
  
  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(299,299,299, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

 